@model AgendaDeReservas.Models.Reserva

<h1>Editar Reserva...</h1>

<form method="post">
    <input type="hidden" name="Id" value="@Model.Id" />

    <p>
       NomeCliente:
       <br />
    <input type="text" name="NomeCliente" value="@Model.NomeCliente" />
    </p>


     <p>
       Telefone:
       <br />
    <input type="number" name="Telefone" value="@Model.Telefone" />
    </p>


    <p>
       Data da Reserva:
       <br />
    <input type="date" name="DataReserva" value="@Model.DataReserva.ToString("yyyy-MM-dd")" />
    </p>


    <p>
       Tipo de Evento:
       <br />
    <input type="text" name="TipoEvento" value="@Model.TipoDeEvento" />
    </p>


    <p>
       Observações:
       <br />
       <textarea name="Observacao">@Model.Observacao</textarea>
    </p>


    <button type="submit"> Salvar Alterações</button>

</form>
