@model List<AgendaDeReservas.Models.Reserva>

<h1>Lista de Reservas</h1>

<p>Total de reservas: @Model.Count</p>

<ul>
    @foreach(var reserva in Model)
    {
        <li>
            <strong>Cliente:</strong> @reserva.NomeCliente <br />
            <strong>Telefone:</strong> @reserva.Telefone <br />
            <strong>Evento:</strong> @reserva.TipoDeEvento <br />
            <strong>Horário:</strong> @reserva.Horario <br />
            <strong>Observações:</strong> @reserva.Observacao <br />
            <strong>Data da Reserva:</strong> @reserva.DataReserva 
        </li>
    }  
</ul> 
