@model List<AgendaDeReservas.Models.Reserva>

<h1>Agenda de Reservas</h1>

<p>Total de reservas: <strong >@Model.Count</strong></p>

<p>
    <a href="/Reserva/Create" class="btn-novo">Nova Reserva</a>
</p>

<table border="1" cellpadding="10" cellspacing="0">
    <thead>
        <tr>
            <th>Cliente</th>
            <th>Telefone</th>
            <th>Evento</th>
            <th>Observações</th>
            <th>Data da Reserva</th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var reserva in Model)
        {
            <tr>
                <td>@reserva.NomeCliente</td>
                <td>@reserva.Telefone</td>
                <td>@reserva.TipoDeEvento</td>
                <td>@reserva.Observacao</td>
                <td>@reserva.DataReserva.ToString("dd/MM/yyyy")</td>
                <td>
                    <a class="btn-excluir" href="/Reserva/Delete/@reserva.Id">Excluir</a>
                    <span class="separador">/</span>
                    <a class="btn-editar" href="/Reserva/Edit/@reserva.Id">Editar</a>
                </td>
            </tr>
        }
    </tbody>
</table>